In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('survey_results_public.csv')

In [3]:
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [4]:
stackOverflow_account_df = df[['SOAccount','Country']]

In [5]:
stackOverflow_account_df

      SOAccount             Country
0            No             Germany
1           Yes      United Kingdom
2           Yes  Russian Federation
3           Yes             Albania
4           Yes       United States
...         ...                 ...
64456       NaN       United States
64457       NaN             Morocco
64458       NaN            Viet Nam
64459       NaN              Poland
64460       NaN               Spain

[64461 rows x 2 columns]

In [10]:
stackOverflow_account_df.head(50)

   SOAccount             Country
0         No             Germany
1        Yes      United Kingdom
2        Yes  Russian Federation
3        Yes             Albania
4        Yes       United States
5        Yes             Germany
6        Yes               India
7        Yes       United States
8        Yes             Tunisia
9        Yes      United Kingdom
10       Yes      United Kingdom
11       Yes               Spain
12       Yes         Netherlands
13       Yes       United States
14        No              France
15       Yes      United Kingdom
16       Yes       United States
17       Yes       United States
18       Yes       United States
19       Yes               Spain
20       Yes             Belgium
21       Yes               India
22       Yes             Germany
23       Yes             Germany
24       Yes            Portugal
25       Yes              Canada
26       Yes       United States
27       Yes               China
28       Yes             Ukraine
29       Yes      United Kingdom
30       Yes  Russian Federation
31       Yes              Canada
32       Yes             Belgium
33       Yes             Germany
34       Yes       United States
35       Yes      United Kingdom
36       Yes              France
37       Yes               Italy
38       Yes      United Kingdom
39       Yes       United States
40       Yes       United States
41       Yes       United States
42       Yes       United States
43       Yes              Brazil
44       Yes              France
45       Yes              France
46       Yes      United Kingdom
47       Yes       United States
48       Yes       United States
49       Yes             Austria

In [25]:
x = stackOverflow_account_df[stackOverflow_account_df['SOAccount'] == 'Yes'].value_counts()

RangeIndex(start=0, stop=1, step=1)

In [15]:
import folium
countries_geojson = 'https://raw.githubusercontent.com/johan/world.geo.json/master/countries.geo.json'

In [ ]:
m = folium.Map(location=[30, 0], zoom_start=2)

folium.Choropleth(
    geo_data=countries_geojson,
    data=stackOverflow_account_df,
    columns=["Country", "Count"],
    key_on="feature.properties.name",
    threshold_scale=[1, 30, 100, 300, 1_000, 3_000, 10_000, 13_000],
    fill_color="OrRd",
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name="Respondents",
).add_to(m)

m